h1{
    text-align: center;
}

.wrapper{
    max-width: 1200px;
    margin: auto;
    padding: 0 16px;
}

.navbar{
    padding: 20px;
    margin-bottom: 20px;
    background: #008cba;
    color: #FFF;
    display: flex;
    justify-content: space-between;
}

.navbar .create{
    color: #FFF;
    font-size: 1.2rem;
    margin-right: 10px;
}

.navbar .navbar-brand{
    color: #FFF;
    font-size: 2rem;
    margin-left: 14px;
}

.navbar-brand:hover, .navbar:hover{
    color: rgb(255, 151, 99);
    cursor: pointer;
}


.form-container{
    width: 800px;
    margin: 20px auto;
  }

.note-container 
{
    text-align: center;
    margin-top: 20px;

}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}